body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #111827;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.header-logo {
  height: 2rem;
}
.header-nav {
  display: none;
}

.hero {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
}
.hero-text {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.hero-title {
  font-size: 3rem;
}
.hero-description {
  font-weight: 300;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #7c3aed;
  outline: none;
  border: 0;
  margin-block: 0.25rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 1rem;
}

.featured-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.25rem;
}
.featured-desc {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0.25rem;
}
.featured-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 100%;
  gap: 2.5rem;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-card-image {
  border-radius: 15px;
  width: 100%;
}
.featured-card-see {
  align-self: flex-end;
  text-decoration: none;
  color: #7c3aed;
}
.featured-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.featured-card-title-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featured-card-desc {
  color: #7C838D;
}
.featured-card-note {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experiences {
  margin-top: 5rem;
}
.experiences-title {
  font-size: 3rem;
  margin-top: 2rem;
  z-index: 10;
}
.experiences-title-img {
  position: absolute;
  top: 0;
}
.experiences-title-container {
  position: relative;
  padding-top: 1rem;
}
.experiences-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-columns: 100%;
  gap: 2rem;
}
.experiences-card {
  position: relative;
  padding-left: 4rem !important;
}
.experiences-card-quote {
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 1rem;
  width: 1rem;
  aspect-ratio: 1/1;
}
.experiences-author {
  font-weight: bolder;
  margin-top: 1rem;
}

.card {
  box-shadow: 0 0px 15px #AAA;
  border-radius: 15px;
  padding: 1rem;
  padding-top: 1.5rem;
}

.footer {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.footer-info a {
  color: white;
  text-decoration: none;
}
.footer-info a:hover {
  text-decoration: underline;
}
.footer-info-copy {
  font-size: 0.75rem;
  font-weight: 350;
}
.footer-networks {
  display: flex;
  flex-direction: column;
}

.cond-super {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
.cond-desc {
  color: #7C838D;
}
.cond-titles {
  font-weight: bold;
  margin: 0;
  margin-top: 2rem;
}
.cond-paragraph {
  font-weight: 300;
  margin-block: 0.25rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  background-color: #7c3aed;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 4rem;
}
.contact-info-desc {
  margin: 0;
}
.contact-info-title {
  margin: 0;
  font-weight: 300;
}
.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 6rem;
  list-style-type: none;
  padding: 0;
}
.contact-info-list-element img {
  width: 1rem;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}
.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.contact-form input, .contact-form textarea {
  background-color: #EEE;
  color: #7C838D;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
}
.contact-form textarea {
  grid-column: span 2;
}
.contact-form .button {
  grid-column: 2;
}

.about-title {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}
.about-desc {
  color: #7C838D;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.about-person {
  width: 12rem;
  text-align: center;
}

.connect {
  background-color: #7c3aed;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: -2rem;
  margin-bottom: -2rem;
}
.connect-title {
  font-size: 2rem;
  text-align: center;
}
.connect-desc {
  font-weight: 400;
  text-align: center;
}
.connect .button {
  background: white;
  color: #7c3aed;
}

body {
  padding: 0;
  margin: 0;
}

.main {
  padding: 0;
  margin: 2rem;
}

p {
  line-height: 1.5rem;
}

hr {
  background: #AAA;
  width: 70%;
  height: 3px;
  border: none;
}/*# sourceMappingURL=index.css.map */